<!doctype html>
<html lang="en">
    <head>
        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-NL2DHJR');
        window.dataLayer = window.dataLayer || [];
        window.dataLayer.push({"userId": "{{ request.user.username }}"});
        </script>
        <!-- End Google Tag Manager -->
        {% load static %}
    	<!-- Required meta tags -->
    	<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    	<!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
		{% block title %} <title> Social Net Data </title> {% endblock %}

        <script src="https://www.youtube.com/iframe_api"></script>
	</head>
	
	<body style="background-color:#edf0f2;">
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NL2DHJR"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->

		{% block content %}
		{% endblock %}

    	<!-- Optional JavaScript -->
    	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
        /* Light YouTube Embeds by @labnol */
        
        /* Web: http://labnol.org/?p=27941 */
        
        document.addEventListener("DOMContentLoaded",
            function() {
                var div, n,
                    v = document.getElementsByClassName("youtube");
                for (n = 0; n < v.length; n++) {
                    div = document.createElement("div");
                    div.setAttribute("data-id", v[n].dataset.id);
                    div.innerHTML = labnolThumb(v[n].dataset.id);
                    div.onclick = labnolIframe;
                    v[n].appendChild(div);
                }
            });

        function labnolThumb(id) {
            var thumb = '<img src="https://i.ytimg.com/vi/ID/hqdefault.jpg">',
                play = '<div class="play"></div>';
            return thumb.replace("ID", id) + play;
        }

        function labnolIframe() {
            var iframe = document.createElement("iframe");
            iframe.setAttribute("src", "https://www.youtube.com/embed/" + this.dataset.id + "?autoplay=1&rel=0&autohide=1&cc_load_policy=1&modestbranding=1&enablejsapi=1");
            iframe.setAttribute("frameborder", "0");
            
            this.parentNode.replaceChild(iframe, this);
        }
    </script>

    <script>
        $(".likebutton").click(function () {
            var postid = $(this).val();
            $(this).attr('disabled', 'disabled');
            $.ajax({
                url: '{% url 'updatelike' %}',
                data: {
                  'postid': postid
                },
                dataType: 'json',
                context: this,
                success: function (data) {
                  $(this).find('.likenum').text(data['likes']);
                },
              }).done(function(data) {$(this).removeAttr('disabled');});
        });

        $(".sharebutton").click(function () {
            var postid = $(this).val();
            var sharecomment = $('#' + postid + '-sharecomment').val();
            $(this).attr('disabled', 'disabled');
            $.ajax({
                url: '{% url 'sharepost' %}',
                data: {
                    'postid': postid,
                    'sharecomment': sharecomment
                },
                dataType: 'json',
                context: this,
                success: function (data) {
                    formattedText = data['posttext'].replace(/\n/g, "<br />");;
                    $('#' + postid +'-posttext').html(formattedText);
                },
              }).done(function(data) {$(this).removeAttr('disabled');});
        });

        $('#referral').popover({'html':true});
    </script>
	</body>
</html>
