<!doctype html>
<html lang="en">
    <head>
        <!-- Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-136580782-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-136580782-1');
        </script>

        {% load static %}
    	<!-- Required meta tags -->
    	<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    	<!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
		{% block title %} <title> Twitter clone </title> {% endblock %}
	</head>
	
	<body style="background-color:#edf0f2;">
		{% block content %}
		{% endblock %}

    	<!-- Optional JavaScript -->
    	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script>
        /* Light YouTube Embeds by @labnol */
        
        /* Web: http://labnol.org/?p=27941 */
        
        document.addEventListener("DOMContentLoaded",
            function() {
                var div, n,
                    v = document.getElementsByClassName("youtube");
                for (n = 0; n < v.length; n++) {
                    div = document.createElement("div");
                    div.setAttribute("data-id", v[n].dataset.id);
                    div.innerHTML = labnolThumb(v[n].dataset.id);
                    div.onclick = labnolIframe;
                    v[n].appendChild(div);
                }
            });

        function labnolThumb(id) {
            console.log(id);
            var thumb = '<img src="https://i.ytimg.com/vi/ID/hqdefault.jpg">',
                play = '<div class="play"></div>';
            return thumb.replace("ID", id) + play;
        }

        function labnolIframe() {
            var iframe = document.createElement("iframe");
            iframe.setAttribute("src", "https://www.youtube.com/embed/" + this.dataset.id + "?autoplay=1&rel=0&autohide=1&cc_load_policy=1&modestbranding=1");
            iframe.setAttribute("frameborder", "0");
            iframe.setAttribute("allowfullscreen", "1");

            this.parentNode.replaceChild(iframe, this);
        }
    </script>

    <script>
        $(".likebutton").click(function () {
            var postid = $(this).val();
            $(this).attr('disabled', 'disabled');
            $.ajax({
                url: '{% url 'updatelike' %}',
                data: {
                  'postid': postid
                },
                dataType: 'json',
                context: this,
                success: function (data) {
                  $(this).find('.likenum').text(data['likes']);
                },
              }).done(function(data) {$(this).removeAttr('disabled');});
        });

        $(".sharebutton").click(function () {
            var postid = $(this).val();
            var sharecomment = $('#' + postid + '-sharecomment').val();
            $(this).attr('disabled', 'disabled');
            $.ajax({
                url: '{% url 'sharepost' %}',
                data: {
                    'postid': postid,
                    'sharecomment': sharecomment
                },
                dataType: 'json',
                context: this,
                success: function (data) {
                    formattedText = data['posttext'].replace(/\n/g, "<br />");;
                    $('#' + postid +'-posttext').html(formattedText);
                },
              }).done(function(data) {$(this).removeAttr('disabled');});
        });
    </script>
	</body>
</html>
