{%extends './base_generic.html' %}
{%block content%}
{% load static %}
{% load embed_video_tags %}
<!-- Navigation bar -->
<nav class="navbar border-bottom border-grey sticky-top navbar-expand-lg navbar-light" style="background-color: #fff;">
	<div class="navbar-collapse collapse justify-content-between">
    	<ul class="navbar-nav mr-auto">
    			<li class="nav-item active">
    				<a class="nav-link" href="../"><i class="fas fa-home" style="color:#8CCEF9;"></i> Home</a>
    			</li>
    			<li>
    				<a class="nav-link" href="/notification/"><i class="fas fa-bell" style="color:#8CCEF9;"></i> Notifications</a>

    			</li>
    			
    			<li>
    				<a class="nav-link" href="/instructions/"><i class="fas fa-bell" style="color:#8CCEF9;"></i> Instructions</a>

    			</li>
    
    	</ul>
    	<div>
    				<span style="color: #0000FF;margin-right: 10px; margin-left: 10px">{{curfollowersnum}} Following</span>
    			
    			
    				<span style="color: #0000FF; margin-right: 10px; margin-left: 10px">{{curfolloweesnum}} Followers</span>
    	</div>

		
    	<ul class="navbar-nav">
				
		<div class="dropdown navbar-user-dropdown">
     	 <button class="btn btn-secondary dropdown-toggle btn-circle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
      	<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
					
						<a class="dropdown-item" href="settings/">Settings</a>
					</div>
				</div>
				 <form class="navbar-form" role="search">
        			<div class="input-group-btn">
          			<button class="btn btn-default btn-search" type="submit"><i class="fas fa-search"></i></button>
        			</div>
     			 	</div>
    				</form>
				<a class = "btn btn-search-bar" href="/final/" role="button">Code for mturk </a>
				<a class="btn btn-search-bar" href="/create/" role="button">Post</a>
			</ul>
		</div>
	</div>
</nav>

<!-- Body of Home Page -->
<div class='container'>
	<div class="row justify-content-md-center">
		<!-- 1st column -->
		<div class="col-md-auto" style='background-color:#fff;'>

		<div class="content-panel">
          		<div class="panel-header">
          			<div align="center">
          				<h4 align="center">{{request.user.username}}</h4>
          				<div align="center">
          					<input type="image" style="height: 40px;width: 40px;border-radius: 50%;" src="{{ MEDIA_URL }}images/{{image}}" >
						</div>
					</div>
					<!-- <div align="center">
						<br/>
          				{{curfollowersnum}} Following
          				<br/>
          				{{curfolloweesnum}} Followers
          				<br/>
          			</div> -->
          		</div>
          	</div>
			<hr/>
			<div class="content-panel">
          		<div class="panel-header">
			<h3 align="center"><span style="padding-right: 10px; padding-left:10px;"> Who to follow </span></h3>
				</div>
			</div>
			<hr/>

			{%for eachuser in numfollowers %}
			<form action='' method="post">
			{%csrf_token%}
			<div align="center">
			<div align="center" style="height: 30px;width: 30px;border-radius: 50%;background-image:url({{ MEDIA_URL}}images/{{eachuser.0.profile.imagename}});">
			</div>
			<strong>
			{{eachuser.0}}
			</strong>
			</div>
			<div align="center">
			{{ eachuser.1 }} Followers
			</div>
			
			<div align="center">
			Credibility : 		{{eachuser.0.profile.credibilityscore|floatformat:3}}
			</div>
			<br/>
			<div align="center">
			<button type="submit" name="follows"  value={{eachuser.0}} class="btn btn-follow">Follow</button>

			
			</div>
			</form>
			<hr/>
			{%endfor%}
		</div>
		<!-- 2nd column -->
 		<div class="col-6" style='background-color:#fff; margin-right: 10px; margin-left: 10px'>
 
			{% for eachpost in posts %}
			<br/>
			<div align="center"> 
			{% if eachpost.sharecomment %}
			<p>{{eachpost.sharecomment}}</p>
			{% endif %}
			</div>

			<p align="center"><strong>@{{eachpost.author}}</strong> on <em>{{eachpost.created_date}}</em></p>
		
			<div align="center" id="{{eachpost.id}}-posttext" class="posttext">{{eachpost.text|linebreaks}}</div>

			{% if eachpost.video %}

			<div class="youtube" data-id="{{eachvideo.video}}" style="width: 500px; height: 400px; display:block; margin: 0 auto;"></div>

			<br/>
			{% endif %}
			{% for comment in comments%}
			{% if comment.post == eachpost%}
			<p align="center"><strong>Comment by @{{comment.author}}:</strong> {{comment.text}}</p>
			{% endif %}
			{% endfor%}

			<!-- <form class = '' method='post'>
			{%csrf_token%}
			<div class='input-field' align="center">
				<input id={{eachpost.id}} type='text' name='placeholder'>
				<label for={{eachpost.id}}> <i class="fas fa-comment-alt"></i> </label>
			</div>
			<input type='submit'  name='submit' value={{eachpost.id}} style='position:absolute;left:-99999px'/>
			</form>
			<br/> -->

			<div class="tweet-footer" align="center">
                <a class="tweet-footer-btn">
					<button type="button" class="btn btn-light" data-toggle="modal" data-target="#commentModal-{{eachpost.id}}"> <i class="fas fa-comment-alt"></i> 
					</button>
					 </a>
			
				<!-- <a class="tweet-footer-btn">
					<button type="button" class="btn btn-light" data-toggle="modal" data-target="#retweetModal"><i class="fas fa-retweet"></i>
					</button>
				</a> -->

			
				<form action='' method='post'>
					{%csrf_token%}
					<a class="tweet-footer-btn">
					<button type='button' class="likebutton" value={{eachpost.id}}  style='float:right;margin:0;background:none;border:none;'><span class="likenum">{{eachpost.likes}}</span> <i class="fas fa-heart" style="color:#DE1278;"></i>
					</button>
					</a>
				</form>
			</div>

				<div class="modal fade" id="commentModal-{{eachpost.id}}">
				<div class="modal-dialog modal-dialog-centered" role="dialog">
					<div class="modal-content">
						<div class="modal-header" align="center">
							<strong>Make a reply</strong>
						</div>
						<div class="modal-body">
							<div class="form-group" align='center'>
								<form class = '' method='post'>
								{%csrf_token%}
								<div class='input-field' align="center">
									<input id={{eachpost.id}} type='text' name='placeholder'>
									<label for={{eachpost.id}}> <i class="fas fa-comment-alt"></i> </label>
								</div>
								<div align='center'>
								<button type='submit'  name='submit' value={{eachpost.id}} >Comment</button>
								</div>								
								</form>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
				</div>




			
			<!-- <form action='' method='post'>
			{%csrf_token%}
			<button  type='submit' name ='unique' value={{eachpost.id}}  style='float:right;margin:0;background:none;border:none;'>{{eachpost.likes}} <i class="fas fa-heart" style="color:#DE1278;"></i>
			</button>
			</form> -->
			

			<div class='input-field' align="center">
				<input id='{{eachpost.id}}-sharecomment' type='text' >
			</div>

			<div align="center">

			<button type='button' name='share' value={{eachpost.id}} class="btn btn-outline-primary sharebutton"><i class="fas fa-retweet">Repost</i></button>
			</div>

			<!-- <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#retweetModal"><i class="fas fa-retweet">
				RetweetModel test
			</i>
			</button> -->
			
			<!-- <div class="modal fade" id="retweetModal">
				<div class="modal-dialog modal-dialog-centered" role="dialog">
					<div class="modal-content">
						<div class="modal-header" align="center">
							<strong>Retweet this to your followers?</strong>
						</div>
						<div class="modal-body">
							<div class="form-group">
								<form action='' method='post'>
									
									{%csrf_token%}
									<div class='input-field' align="center">
										<input id={{eachpost.id}} type='text' name='sharecomment'>
									</div>
								</br>
									<div align="center">
										<button type='submit' name='share' value={{eachpost.id}} class="btn btn-outline-primary"><i class="fas fa-retweet">  Retweet</i></button>
									</div>
								
								</form>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div> -->
			


			<hr/>
			{% endfor %}


			{% for eachvideo in mainvids %}
			<br/>
			<div align="center"> 
			{% if eachvideo.sharecomment %}
			<p>{{eachvideo.sharecomment}}</p>
			{% endif %}
			</div>

			<p align="center">Posted on <em>{{eachvideo.created_date}}</em></p>
		
			<div align="center" id="{{eachvideo.id}}-posttext" class="posttext">{{eachvideo.text|linebreaks}}</div>

			{% if eachvideo.video %}

			<div class="youtube" data-id="{{eachvideo.video}}" style="width: 500px; height: 400px; display:block; margin: 0 auto;"></div>

			<br/>
			{% endif %}
			{% for comment in comments%}
			{% if comment.post == eachvideo%}
			<p align="center"><strong>Comment by @{{comment.author}}:</strong> {{comment.text}}</p>
			{% endif %}
			{% endfor%}



			<div class="tweet-footer" align="center">
                <a class="tweet-footer-btn">
					<button type="button" class="btn btn-light" data-toggle="modal" data-target="#commentVideoModal-{{eachvideo.id}}"> <i class="fas fa-comment-alt"></i> 
					</button>
					 </a>
			
				<!-- <a class="tweet-footer-btn">
					<button type="button" class="btn btn-light" data-toggle="modal" data-target="#retweetModal"><i class="fas fa-retweet"></i>
					</button>
				</a> -->

			
				<form action='' method='post'>
					{%csrf_token%}
					<a class="tweet-footer-btn">
					<button type='button' class="likebutton" value={{eachvideo.id}}  style='float:right;margin:0;background:none;border:none;'><span class="likenum">{{eachvideo.likes}}</span> <i class="fas fa-heart" style="color:#DE1278;"></i>
					</button>
					</a>
				</form>
			</div>

				<div class="modal fade" id="commentVideoModal-{{eachvideo.id}}">
				<div class="modal-dialog modal-dialog-centered" role="dialog">
					<div class="modal-content">
						<div class="modal-header" align="center">
							<strong>Make a reply</strong>
						</div>
						<div class="modal-body">
							<div class="form-group" align='center'>
								<form class = '' method='post'>
								{%csrf_token%}
								<div class='input-field' align="center">
									<input id={{eachvideo.id}} type='text' name='placeholder'>
									<label for={{eachvideo.id}}> <i class="fas fa-comment-alt"></i> </label>
								</div>
								<div align='center'>
								<button type='submit'  name='submit' value={{eachvideo.id}} >Comment</button>
								</div>								
								</form>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
				</div>

				<div class='input-field' align="center">
					<input id='{{eachvideo.id}}-sharecomment' type='text' >
				</div>

				<div align="center">

				<button type='button' name='share' value={{eachvideo.id}} class="btn btn-outline-primary sharebutton"><i class="fas fa-retweet">Repost</i></button>
				</div>

			{% endfor%}
		</div>
	
		<!-- column 3 -->
		<div class="col-md-auto" style='background-color:#fff;'>
			
				<h4 align="center" > <span style="padding-top:20px;padding-right: 20px; padding-left:20px;">Following</span> </h4>
			
			
			<hr/>

			{% for follower in FOLLOWING%}
			<form action='' method='post'>
			{%csrf_token%}
			<div align="center">
				<div align="center" style="height: 30px;width: 30px;border-radius: 50%;background-image:url({{ MEDIA_URL}}images/{{follower.profile.imagename}});">
				</div>
			<strong>
				{{follower.username}}
			</strong>
			</div>
			<br/>
			<div align="center">
				<button type="submit" name="follow" value="{{follower.username}}" class="btn btn-follow">Unfollow</button>

			</div>
			</form>
			<hr/>
			
			{% endfor%}
		</div>
	</div>
	</div>

			{%endblock%}

